#root {
  /*max-width: 1280px;*/
  /* removed: max-width is insuffucient for fullscreen */
  margin: 0 auto;
  width: 100%;
  /* auto gives margin-left/right != 0 */
  padding: 0;
  text-align: center;
}

body {
  width: 100%;
}